<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-09-30T15:56:42Z</date>
	<key>WorkspacePath</key>
	<string>/Users/admin/Downloads/HW9_new_Kostya/HW9_new_Kostya.xcodeproj</string>
</dict>
</plist>
